<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>

    <!-- Database connection settings -->
    <property name="connection.url">jdbc:postgresql://localhost:5432/modbus-archive</property> <!-- BD Mane -->
    <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
    <property name="connection.username">user</property> <!-- DB User -->
    <property name="connection.password">pwd</property> <!-- DB Password -->

    <!-- JDBC settings -->
    <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property> <!-- DB Dialect -->
    <property name="hbm2ddl.auto">update</property> <!-- create / create-drop / update -->

    <property name="show_sql">false</property> <!-- Show SQL in console -->
    <property name="format_sql">false</property> <!-- Show SQL formatted -->

    <!-- Names the annotated entity class -->
    <mapping class="sk.brecka.archive.domain.Message"/>

  </session-factory>
</hibernate-configuration>